@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "cinema";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(97% 0.013 236.62);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


.content::before {
  content: '';
  position: absolute;
  background-image: url('src/assets/hero.jpg');
  inset: 0;
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
